@import '../../styles/variables';
@import '../../styles/mixins.scss';

$ColoredIcon: '.colored-icon';

#{$ColoredIcon} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color $transition ease, background-color $transition ease;
  border-radius: 50%;
  height: 48px;
  width: 48px;

  &--selected {
    @include shadow;
  }
}
