@import '../../styles/variables';
@import '../../styles/mixins.scss';

.change-password-container {
  display: flex;
  flex-direction: column;
  padding: 28px 28px 40px;

  @include breakpoints('1920') {
    padding: 32px 32px 40px;
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoints('1920') {
      margin-bottom: 24px;
    }
  }

  &__current-password {
    margin-bottom: 16px;
    width: 320px;

    @include breakpoints('1920') {
      margin-bottom: 20px;
      width: 360px;
    }

    &.input_error {
      margin-bottom: 36px;

      @include breakpoints('1920') {
        margin-bottom: 44px;
      }
    }
  }

  &__new-password {
    margin-bottom: 6px;
    width: 320px;

    @include breakpoints('1920') {
      margin-bottom: 8px;
      width: 360px;
    }
  }

  &__validations {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    margin-bottom: 16px;

    @include breakpoints('1920') {
      margin-bottom: 20px;
    }
  }

  &__validation {
    color: $color-dark-grey;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    transition: color $transition ease;

    &--error {
      color: $color-error;
    }

    &--valid {
      color: $color-success;
    }

    @include breakpoints('1920') {
      font-size: 14px;
      line-height: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 2px;

      @include breakpoints('1920') {
        margin-bottom: 4px;
      }
    }
  }
}