@import '../../styles/mixins';

.header {
  font-size: 32px;
  letter-spacing: -0.7px;
  font-weight: 700;
  line-height: 40px;

  @include breakpoints('1920') {
    font-size: 36px;
    line-height: 44px;
  }
}