@import '../../styles/variables';
@import '../../styles/mixins.scss';

.page-auth {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 320px;

  @include breakpoints('1920') {
    width: 360px;
  }

  &__title {
    color: $color-font;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: left;

    @include breakpoints('1920') {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 28px;
    }
  }

  &__message {
    color: $color-font;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.53px;
    margin-bottom: 18px;

    @include breakpoints('1920') {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 24px;
    }
  }

  &__login {
    margin-bottom: 16px;

    @include breakpoints('1920') {
      margin-bottom: 20px;
    }

    &.input_theme-noborder {
      margin-top: -4px;
      margin-bottom: 14px;
    }
  }

  &__password {
    margin-bottom: 20px;

    @include breakpoints('1920') {
      margin-bottom: 24px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__reset {
    color: #2b91f3;
    cursor: pointer;
    font-size: 12px;
    line-height: 120%;
  }

  &__button {
    text-decoration: none;
    margin-right: 12px;
    min-width: 82px;
    width: 82px;

    @include breakpoints('1920') {
      min-width: 92px;
      width: 92px;
    }
  }

  &__to-link {
    display: block;
    text-decoration: none;
  }

  &__password-message {
    color: $color-font;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.3px;
    margin-left: -4px;
    // width: 175px;

    @include breakpoints('1920') {
      font-size: 14px;
      line-height: 16px;
      // width: 205px;
    }
  }

  &__validations {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    margin-top: -14px;
    margin-bottom: 16px;

    @include breakpoints('1920') {
      margin-bottom: 20px;
    }
  }

  &__validation {
    color: $color-dark-grey;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    transition: color $transition ease;

    &--error {
      color: $color-error;
    }

    &--valid {
      color: $color-success;
    }

    @include breakpoints('1920') {
      font-size: 14px;
      line-height: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 2px;

      @include breakpoints('1920') {
        margin-bottom: 4px;
      }
    }
  }
}